@import "_settings";
@import "../bower_components/foundation/scss/foundation";
@import "bourbon";
@import "_bourbon-extensions.scss";


@include keyframes(bounceInLeft) {
    0% {
        opacity: 0;
        @include transform(translateX(-2000px));
    }
    60% {
        opacity: 1;
        @include transform(translateX(30px));
    }
    80% {
        @include transform(translateX(-10px));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@mixin bounceInLeft() {
    @include animation-name(bounceInLeft);
    @include animation-duration(1s);
    @include animation-delay(0s);
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
}

$cardSize: 250px;

#stack, #notice {
    width: $cardSize;
    height: $cardSize;
    margin: auto;
}

#stack {
    background: url('/radio.gif') no-repeat 50% 50%;
    background-size: 50% 50%;
}

body {
    padding-top: 1em;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}

$maxCards: 25;
li.card {
    display: block;
    width: $cardSize;
    height: $cardSize;
    background: #CCC;
    border: 3px solid gray;
    border-radius: 5px;
    margin: 1em auto;
    position: absolute;

    text-align: center;
    padding: 1em;

    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    @include bounceInLeft();

    @for $i from 0 through $maxCards {
        &:nth-child(#{$i}) {
            @include animation-duration(#{1 + $i / $maxCards}s);
        }
    }

    p {
        font-size: 2em;
    }
}

#notice {
    display: none;

    text-align: center;

    > div {
        display: table-cell;
        vertical-align: middle;
    }
}

body.showingNotice {
    #notice {
        display: table;
    }

    #stack {
        display: none;
    }
}

li.song.card {
    img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.25;
    }

    p {
        position: relative;
    }
}
