@import "_settings";
@import "../bower_components/foundation/scss/foundation";
@import "bourbon";

#stack {
    width: 100px;
    margin: auto;
}
li.card {
    display: block;
    width: 100px;
    height: 100px;
    background: gray;
    margin: 1em auto;
    position: absolute;
}
